# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-amazon
apache-airflow-providers-snowflake==6.16.0
astronomer-cosmos
dbt-core==1.12.3
dbt-snowflake==1.12.0